#app {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
    min-width: 900px;
}

.hidden-text {
    visibility: hidden;
}

.textbox {
    background-color: #222233;
    border: 1px solid #555566;
    color: #EEEEFF;
    height: 200px;
    min-height: 200px;
    min-width: 400px;
    overflow: auto;
    padding: 15px;
    resize: both;
    width: 400px;
}
